body{
  overflow-x: hidden;
  max-width: 100%;
}

h1, h2, h3, h4, p, span, a, ul, li, span, svg, figure{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button{
  background-color: #A70532;
  border: none;
  color: white;
  line-height: 30px;
  font-size: 17px;
  cursor: pointer;
}

.overlay{
  position: relative;
  max-width: calc(100% - 20px);
  overflow-y: hidden;
  transition: all 0.5s ease;
}

.overlay::after{
  background-color: whitesmoke;
  z-index: 0;
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  height: 100%;
  opacity: 0.8;
  top: 0;

}

.button:hover{
  background-color: #7c0325;
}

.container {
  box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  max-width: 1440px;
}

.center{
  justify-content: center;
}

.mobile-markup{
  display: none;
  width: 100%;
}

.desktop-markup{
  display: block;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 40px ;
  }
}

@media screen and (max-width: 959px){
  .mobile-markup{
    display: block;
  }

  .desktop-markup{
    display: none;
  }
}